.signin {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 30px auto;
  padding: 70px;
  background-color: rgb(20, 20, 20);
  border: solid 1px rgb(59, 59, 59);
  border-radius: 10px;
  opacity: 80%;
}
.signin a {
  font: normal 14px Ubuntu;
  color: #fff;
  text-decoration: none;
}
.signin a:hover {
  text-decoration: underline;
}
.signin-title {
  font: bold 32px Ubuntu;
  color: #fff;
  padding-bottom: 25px;
  padding-top: 50px;
  text-align: left;
}
.signin-subtitle {
  font: normal 22px Ubuntu;
  color: #7c7c7c;
  padding-bottom: 25px;
  padding-top: 50px;
}
.signin-description {
  font: normal 16px Ubuntu;
  color: #7c7c7c;
  padding-bottom: 26px;
}
.signin-div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 460px;
  height: 50px;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  background-color: #5f5f5f;
  padding: 5px 15px;
  margin-bottom: 20px;
}
.signin-div-row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding: 5px 15px;
  margin-bottom: 20px;
}
.signin-div-row-checkbox {
  /* display: grid; */
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.signin-div-row-left {
  flex: 1;
  align-self: flex-start;
}
.signin-div-row-right {
  flex: 1;
  text-align: right;
}
.signin-div-title {
  border: 0px;
  background-color: #5f5f5f;
  font: normal 12px Ubuntu;
  color: #b3b3b3;
  padding-bottom: 7px;
}
.signin-div-input {
  border: 0px;
  background-color: #5f5f5f;
  font: normal 18px Ubuntu;
  color: #fff;
}
.signin-warning {
  font: bold 13px Ubuntu;
  color: #ff0000;
  padding: 15px;
}
.signin-div-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 490px;
  height: 50px;
  border: solid 1px #ff0000;
  border-radius: 5px;
  background-color: #ff0000;
  margin-bottom: 20px;
  font: normal 24px Ubuntu;
  color: #fff;
  cursor: pointer;
  padding: 5px 15px;
}
.signin-div-gap {
  padding: 25px;
}
